# Configuración de Binance
BINANCE_API_KEY=x148J6vGnfQ2PIucftnWFJ9u4W6puqYZD60PSvs9nsXFLDFdIQHFKqf84ghFlZG8
BINANCE_SECRET_KEY=tDMNxidQ4jTLourkEQKm6aSpqBbMVsm5LHm5x1CKI41VAuaHB40P2hHuqq6mMrW2I
BINANCE_TESTNET=True

# Configuración de Telegram (opcional)
TELEGRAM_BOT_TOKEN=8095438045:AAHTfdfRiuS7pEfjf1h02WNAzSCHe18Kbqg
TELEGRAM_CHAT_ID=892473746

# Configuración del bot
INVESTMENT_AMOUNT=1000
RISK_PERCENTAGE=2
TARGET_PROFIT_PERCENTAGE=30
STOP_LOSS_PERCENTAGE=5
MAX_OPEN_POSITIONS=3

# Configuración de monitoreo
LOG_LEVEL=INFO
ENABLE_NOTIFICATIONS=True


